.body {
  top: 0;
  left: 0;
}

.navbar {
  background: #606756;
  height: 70px;
  padding-left: 20px;
  color: #d1d971;
  position: relative;
  width: 100%;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #626262;

}


.sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 70px;
  height: 90%;
  background-color: #e8ddc5;

}

.map {
  position: absolute;
  left: 30%;
  width: 70%;
  top: 0;
  bottom: 0;
  margin-top: 70px;
  height: 90%;


}

.div-inline {
  display: inline-block;
  position: relative;
}

.dropdown-item {
  position: relative;
}


.dropdown {
  max-width: 100px;
}






#float {
  z-index: 99;
  position: relative;
  height: flex;
  overflow: auto;
  padding: 10px;
  background-color: #e8ddc5;
  font-size: 15px;
  float: right;
  margin: 15px;
  opacity: 0.85;
  width: flex;
  text-align: left;
  border-radius: 3px 3px 0 0;


}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #cbc99c;
  padding: 8px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #162b1f;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #c6753f;
  ;
}

.listings .item.active {
  background-color: #b3b3b3;
  color: #000000;

}



::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #606756;
  border-radius: 0;

}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}



.mapboxgl-popup-content {
  padding: 10;
  width: flex;
  font-size: 0px;
  opacity: 0.85;
  background: #e8ddc5;

}

.mapboxgl-popup-content h3 {
  background: #89a28e;
  color: #e8ddc5;
  margin: 0px;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  font-weight: 0;
  font-size: 18px;
  margin-top: 0px;
  text-align: center;

}

.mapboxgl-popup-content h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 20px;

}

.mapboxgl-popup-content div {
  padding: 20px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 0px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: #e8ddc5;
  opacity: 0.85;

}

a:link {
  text-decoration: none;
  color: #e8ddc5;

}


a:visited {
  text-decoration: none;
  color: #e8ddc5;

}


a:hover {
  text-decoration: none;
  color: #ffffff;

}


a:active {
  text-decoration: none;
  color: #ffffff;

}